.cr-create-btn{
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    background-color: black;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    bottom: 10px;
    right: 10px;
}
.inp-creater:hover{
    background-color:var(--bg-selected-main) !important;
}
.inp-creater{
    margin:8px 0px 8px 0px;
    font-size: medium;
    padding: 10px 50px 10px 50px;
    background-color: var(--bg-title);
    color:var(--color);
    border: none;
    transition: background-color 0.2s;
}
.inp-creater:disabled{
    background-color: white !important;
}
.cr-create-btn div{
    text-align: center;
    width: 100%;
}
.cr-forms{
    margin:10px;
}
.cr-box-input{
    margin:10px 0 8px 0;
}
.cr-data-input input{
    height: 25px;
}
.cr-data-title{
    padding-bottom: 1px;
    font-size: large;
}
.cr-list-item{
    margin: 2px 0px 8px 0px;
}
.cr-list{
    max-height: 120px;
    overflow: auto;
}
.cr-create-btns{
    margin-top: 25px;
    display: flex;
}
.cr-create-btns button{
    margin: 2px;
    flex-grow: 1;
    height: 30px;
}