.cr-create-btn{
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    background-color: black;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    bottom: 10px;
    right: 10px;
}
.inp-creater:hover{
    background-color:var(--bg-selected-main) !important;
}
.inp-creater{
    margin:8px 0px 8px 0px;
    font-size: medium;
    padding: 10px 50px 10px 50px;
    background-color: var(--bg-title);
    color:var(--color);
    border: none;
    transition: background-color 0.2s;
}
.cr-create-btn div{
    text-align: center;
    width: 100%;
}
.cr-backwindow{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
}
.cr-window{
    position: fixed;
    z-index: 6;
    background-color: var(--bg-main);
    transition-property:width,height,left;
    transition-duration: 0.5s;
}
@media (orientation:landscape){
    .cr-window{
        border-radius: 20px;
        height: 90%;
        top: 5%;
    }
    @media (min-width:600px){
        .cr-window{
            width: 40%;
            left: 30%;
        }
    }
    @media (max-width:600px){
        .cr-window{
            width: 60%;
            left: 20%;
        }
    }
}
@media (orientation:portrait){
    .cr-window{
        width: 100%;
        height: 100%;
    }
}
.cr-forms{
    margin:10px;
}
.cr-box-input{
    margin:10px 0 8px 0;
}
.cr-data-input input{
    height: 25px;
}
.cr-data-title{
    padding-bottom: 1px;
    font-size: large;
}
.cr-list-item{
    margin: 2px 0px 8px 0px;
}
.cr-list{
    max-height: 120px;
    overflow: auto;
}
.cr-create-btns{
    margin-top: 25px;
    display: flex;
}
.cr-create-btns button{
    margin: 2px;
    flex-grow: 1;
    height: 30px;
}