.itemList{
    background-color: var(--bg-main);
    color: var(--color);
    border-collapse: collapse;
    height: calc(100% - 8px);
    overflow: auto;
}
.eventItem{
    transition:background-color 0.5s;
    background-color: var(--bg-main);
    border-bottom: 4px solid black;
    padding-bottom: 10px;
}
.eventItem:hover{
    background-color: var(--bg-selected-main);
}
.eventItem *{
    padding-left: 2px;
}
.ev-day-hour{
    border:solid black;
    border-width: 2px 0px 2px 0px;
    display: flex;
}
.ev-day-hour :first-child{
    border-right: 1px solid black;
    flex-grow: 1;
}
.ev-day-hour :last-child{
    flex-grow: 1;
}
.ev-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 7px;
}
.ev-desc{
    padding-top: 4px;
}
.ev-edit{
    margin-top:5px;
    display: flex;
}
.ev-edit > div{
    display: flex;
    width: 50px;
    justify-content: center;
}
.ev-edit img{
    width: 20px;
}
.bi{
    width: 20px;
    height: 20px;
    color:var(--color)
}